.App {
  text-align: center;
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #00ff00; /* Зеленый цвет терминала */
  font-family: 'Courier New', Courier, monospace;
}

.status-box {
  border: 1px solid #00ff00;
  padding: 10px 20px;
  margin: 20px;
}

.online {
  color: #fff;
  text-shadow: 0 0 10px #00ff00;
}

.main-button {
  background: #00ff00;
  color: #000;
  border: none;
  padding: 15px 30px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}